{%extends 'curation/base.html'%}
{% load static%}

{%block content%}
<div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">

    <img src="{%static 'images/curation/lumbar.jpg'%}" alt="backpain" class="img-fluid">
    </div>

  <p class="titlecontent mt-2">허리가 아플때<br>어떤 운동을 하면 좋을까?</p>

  
  
  <button type="button" class="back btn-outline-danger btn-lg" onclick = 'location.href = "{% url 'curation:getQna' 5 %}"' >시작하기</button>
  
  {% comment %} onclick="js:begin()" {% endcomment %}
{%endblock content%}