{%extends 'curation/base.html'%}
{% load static%}

{%block content%}
<div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
    <img src="{%static 'images/curation/knee.jpg'%}" alt="kneepain" class="img-fluid">
    </div>
  
  <p class="titlecontent mt-2">무릎이 아플때<br>어떤 운동을 하면 좋을까?</p>
  
  
  
  <button type="button" class="back btn-outline-danger btn-lg" onclick=onclick = 'location.href = "{% url 'curation:getQna' data.question_category.name data.id %}"'>시작하기</button>
  

{%endblock content%}