{%extends 'curation/base.html'%}
{% load static%}
{% load remainder %}


{%block content%}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-row-gap: 50px; /* Add the desired margin between rows */
        font-size: 25px;
    }
    .grid-container a{
        text-decoration: none;
        color: rgb(26, 26, 26);
    }
    .grid-container a:hover{color: #bb27ff!important;}

    .icon{
        text-align: right;
        font-size: 30px;
    }
    .icon a {
        margin-right: 30px; /* Adjust the value to set the desired margin */
        text-decoration: none;
        color: rgb(26, 26, 26);
    }
    .icon a:hover{color: #bb27ff!important;}
</style>

<div class="icon">
    <a href="#">QnA 수정</a>
    <a href="{%url 'curation:getQna' q_s.question_category.name.value q_s.id.value %}">QnA 테스트</a>
    <br><br>
</div>


<div class="grid-container">
    {% for q in question_data %}
        <div>
            <a href="{%url 'curation:edit' q.question.id %}">
            <strong>{{ q.question.question_text }}</strong>
            <br>
        
            {% for answer in q.answers %}
            {{ answer.answer_text }}
                <br>
            {% endfor %}
            </a>
        </div>
    {% endfor %}
</div>




{%endblock content%}


