{%extends 'curation/base.html'%}
{% load static%}

{%block content%}
<form action="{% url 'curation:register' %}" method="post">
    {%csrf_token%}
    <div class="form">
        <br>
        {{form.as_p}}
        <br><br>
        <style>
            .answer_table {
                margin: 0 auto;
            }
        </style>

        <table class="answer_table">
            <tr>
                <th>답안</th>
                <th>가중치</th>
                <th>카테고리</th>
            </tr>
            
            {% for form in formset %}
            {{formset.management_form}}
            <tr>
                <td>{{ form.answer_text }}</td>
                <td>{{ form.value }}</td>
                <td>{{ form.category }}</td>
            </tr>
            {% endfor %}
        </table>
        <br><br><br>
        <input type="submit" value="다음">
    </div>
</form>
{%endblock content%}

