#qna{
      margin-top: 80px;
  }

  .qBox{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    font-size: 38px;
    width: 80%;
    margin-bottom: 60px;
    
  }
  
  .answer1{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    /* display: block; */
    width: 80%;
    border: 0px;
    font-size: 34px;
    margin-bottom: 30px;
  
  }
  
  .answerList:hover, answerList:focus{
    background-color: #ebc8ce;
    color: whitesmoke;
  }
  
  .status{
    height: 20px;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    margin-top: 80px;
    margin-bottom: 50px;
  }
  
  .statusBar{
    text-align: center;
    height: 100%;
    border-radius: 20px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+45,ff5c5c+100;Red+3D+%231 */
    background: #febbbb; /* Old browsers */
    background: -moz-linear-gradient(top,  #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
  
  }