#result{
    /* display: none; */
    background-color: whitesmoke;
    width: 60%;
    text-align: center;
    border-radius: 20px;
  
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 10px;
   padding-left: 10px;
  
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
  
  }
  
  .resultName{
    font-size: 45px;
    color: black;
    margin-bottom: 40px;
  }
  
  .youtube{
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  .resultDesc{
    font-size: 31px;
    padding-right: 20px;
    padding-left: 20px;
     letter-spacing: 1px;
     line-height: 35px;
  }
  
  /* .show{
    display: block;
  } */
  
  
/*   
  .disqus_thread{
    margin-bottom: 40px;
  }
  
  .container {
      width: 80%;
  }
  
  .responsive{
    padding:56.25% 0 0 0;
    position:relative;
  }
  
  .target{
    position:absolute;top:0;left:0;width:100%;height:100%;
    border: 0;
  }
  
  
  .ad{
    font-size: 20px;
  }
  
  
  
  
  .banner-bottom {
      width: 320px;
      margin: 0 auto;
      
      
      position: absolute; right: 0px; bottom: 0px;
  
  
  } */